body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

@media (orientation:landscape) {
    canvas {
        /* background-color: #ffff00; */
        padding: 0;
        margin: auto;
        display: block;
        height: 70vh;
        width: 70vh;
        border: 4px solid #000000;
    }
}

@media (orientation:portrait) {
    canvas {
        /* background-color: #ffff00; */
        padding: 0;
        margin: auto;
        display: block;
        height: 90vw;
        width: 90vw;
        border: 4px solid #000000;
    }
}

@media (orientation:landscape) {
    .score {
        text-align: center;
        font-family: 'PublicPixel';
        font-size: 6.7vh;
        margin: 10px;
    }
}

@media (orientation:portrait) {
    .score {
        text-align: center;
        font-family: 'PublicPixel';
        font-size: 8.8vw;
        margin: 10px;
    }
}

@media (orientation:landscape) {
    .title {
        text-align: center;
        font-family: 'PublicPixel';
        font-size: 5.75vh;
        margin: 10px;
    }
}

@media (orientation:portrait) {
    .title {
        text-align: center;
        font-family: 'PublicPixel';
        font-size: 7.4vw;
        margin: 10px;
    }
}