.icon {
    position: fixed;
    bottom: 1vh;
    background-color: transparent;
    height: 5vh;
    width: 5vh;
    border: none;
}

.left {
    left: 1vh;
}

.right {
    right: 3vh;
}

.icon-svg {
    height: 5vh;
}